<h1>New page</h1>

<% form_for(@page, :url => admin_page_path(@path)) do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<p>
  <%- if params[:from]=="pending" -%>
  <%= link_to 'Back', pending_admin_pages_path(:page => page_param(:original_page)) %>
  <%- else -%>
  <%= link_to 'Back', admin_pages_path(:page => page_param(:original_page)) %>
  <%- end -%>
</p>
