<p>
  <strong>Name:</strong>
  <%=h @admin_secret.name %>
</p>


<%= link_to 'Edit', edit_admin_secret_path(:id => @admin_secret, :page => page_param) %> |
<%= link_to 'Back', admin_secrets_path(:page => page_param) %>
